/* Global */
/* cross browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    font-family: 'Jost', sans-serif;
}

/* HEADER */
header.main-header {
    background-color: #ffff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46;
}
.navbar .navbar-toggler{
    background-color: #189a46;
}
.navbar .navbar-toggler-icon{
    width: 1em;
    height: 1em;
}
.navbar .navbar-toggler-icon i{
    color: #fff;
    font-size: 20px;
}

.navbar .navbar-collapse .navbar-nav .nav-item{
    padding: 0 9px;
    position: relative;
}
.navbar-nav .nav-item .search-icon{
    display: block;
    padding: 14px 0;
    background-color: #F9F7FE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    color: #189a46;
    line-height: 15px;
    transition: all .5s;
}
.nav-item .search-icon:hover{
    background-color: #189a46;
    color:#fff;
}

.nav-item .nav-link{
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.1em;
    font-weight: 400;
    position: relative;
    color: #000;
}
.nav-item a.nav-link::before{
    position: absolute;
    content: '';
    background:#189a46;
    width: 0px;
    height: 1px;
    bottom: 13px;
    transition: all .5s;
}
.nav-item a.nav-link:hover::before{
    width: 80%;
}
.nav-item .nav-link:hover{
    color: #189a46;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active{
    color: #189a46;
    transition: all .5s;
}

.navbar-nav .nav-item .nav-link .dropdown-icon{
    color: #999;
    font-size: small;
}


/* Carousel */

.carousel .owl-carousel .item{
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.carousel .owl-carousel .carousel-item-overlay{
    background:#000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .owl-carousel .banner1{
    background-image: url("./../img/banner1.jpg");
}
.carousel .owl-carousel .banner2{
    background-image: url("./../img/banner2.jpg");
}

.owl-carousel .owl-dots{
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
}

.owl-carousel .owl-dots .owl-dot.active span{
    background: #189a46!important;
    width: 30px;
}
.owl-carousel .owl-dots .owl-dot:hover span{
    background: #189a46!important;
    width: 30px;
}

.owl-carousel .banner1 .carousel-infor{
    max-width: 700px;
    position: absolute;
    top: 30%;
    left: 10%;
}

.owl-carousel .banner2 .carousel-infor{
    max-width: 700px;
    position: absolute;
    top: 30%;
    left: 40%;
}
.carousel-infor h1{
    font-size: 60px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.carousel-infor p{
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

.carousel-infor .btn{
    padding: 12px 35px;
    margin: 20px 5px;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;

}
.btn-white{
    background-color: #fff;
    color: #189a46;
}
.btn-normal{
    border-color: #fff;
    color: #fff;
}
.btn-normal:hover{
    background-color: #fff;
    color: #189a46;
}